@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Rubik:300&display=swap');

body {
  font-size: 200%;
  font-family: Rubik;
  font-weight: 300;
  color: #333;
}

h1 {
  margin-bottom: 0.35em;
  font-family: Montserrat;
  line-height: 1;
  font-weight: 700;
}

h2, .h2, .start-h2 h1 {
  font-size: 120%;
  font-weight: 300;
}

h3, .h3 {
  font-size: 100%;
  font-weight: 300;
}

.step.overflow {
  width: auto;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.dot {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  line-height: 1.5;
}

.big-title h1 {
  color: #DB3727;
  font-weight: 700;
}

.big-subtitle h2, .big-subtitle.h2, .start-h2.big-subtitle h1 {
  margin-bottom: 0.35em;
  font-family: Montserrat;
  line-height: 1;
  font-weight: 700;
}

.big-subtitle h3, .big-subtitle.h3 {
  font-family: Montserrat;
  font-size: 110%;
  font-weight: 500;
  line-height: 1;
}

.image-center>img {
  display: block;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

.title-center>h1,
.title-center>h2,
.title-center>h3 {
  text-align: center
}


.footer {
  position: absolute;
  top: 96%;
  right: 2%;
  font-size: 50%;
}


.footer img {
  vertical-align: middle;
  margin-left: 20px
}